body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,5;
    background: rgba(0, 0, 255, 0.144);
    color: rgb(red, green, blue);
}
p{
    color: hsl(236, 100%, 60%);
    
}